---
title: Documentation Home
sitemap: true
changefreq: daily
priority: 1
---

<div class="page-header" id="banner">
  <h2>Help articles</h2>
</div>

<ul class='list-unstyled'>
  <%sitemap.where(:article_index.gte => 0).order_by(:article_index).all.each do |a| %>
    <li><h4><a href='<%= a.url %>'><%= a.data.title %></a></h4></li>
  <% end %>
</ul>
